.container {
  min-height: 100vh;
  width: auto;
  background-color: pink;
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: space-between;
  overflow-y: auto;
}

header {
  width: auto;
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

button {
  border: 1px solid gray;
  background-color: rgb(39, 37, 37);
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.banner-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: auto;
  background-color: darkslateblue;
}

footer {
  height: 200px;
  width: auto;
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer-items-container {
  width: 10%;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: flex-start;
}

h3,
h6 {
  margin: 5px;
}

.cards-section {
  width: auto;
  min-height: calc(100vh - 450px);
  height: fit-content;
  background-color: white;
  display: flex;
  justify-content: center;
}

.grid-container {
  width: 60%;
  margin: 50px 60px;
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  border: 1px solid gray;
  background-color: whitesmoke;
  width: 45%;
  margin: 10px;
  min-height: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.grid-item-title {
  border-bottom: 1px solid gray;
  padding: 5px;
  font-weight: bold;
}

.grid-item-desciption{
  padding: 5px;
  text-align: justify;
}
